.header {
  width: 100%;
  top: 0px;
}
.header img {
  width: 100%;
}
.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrbES87SbNpfXtDbhVFLGKTbMMys8-BwK3xg&usqp=CAU");
  background-size: cover;
  color: white;
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 0px;
}