<style>
* {
  box-sizing: border-box;
}
.list {
  float: left;
  padding: 10px;
  border: 2px solid black;
  width: 30%;
}
.list li {
  list-style-type: none;
  padding: 10px;
  background-color: rgb(235,235,225);
  box-shadow: 0 2px 5px rgb(128,128,128);
}
.detail {
  line-height: 0.75;
  display: block;
  background-image: linear-gradient(white, whitesmoke);
  background-repeat: repeat-y;
  background-size: 40px 40px;
}
.list li button {
  background-image: linear-gradient(white, whitesmoke);
}
.check {
  width: 40px;
  height: 40px;
  border: none;
  color: #444;
  cursor: pointer;
  margin: 0px;
  transition-duration: 0.25s;
}
.check.shown {
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 10px;
  border: 3px solid black;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
.check:hover {
  filter: brightness(85%);
}
.name {
  float: right;
  width: calc(100% - 40px);
  height: 40px;
  border: none;
  outline: none;
  text-align: left;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  transition-duration: 0.25s;
}
.name:hover {
  filter: brightness(85%);
}
.name:after {
  float: right;
  font-weight: bold;
  font-size: 20px;
  content: "\002B";
}
.name.is-open:after {
  content: "\2212";
}
.content {
  overflow: hidden;
  max-height: 0;
  transition-duration: 0.25s;
  background-color: whitesmoke;
}
</style>
