* {
  box-sizing: border-box;
}
.map {
  position: relative;
  overflow: hidden;
  float: left;
  width: calc(70% - 300px);
}
.map:before {
  position: absolute;
  display: block;
  content: '';
  z-index: 5;
}
.googleMap:after {
  position: absolute;
  display: block;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  content: '';
  z-index: 5;
}
.map:before {
  top: -5px;
  left: 0;
  right: 0;
  height: 5px;
}
.googleMap:after{
  left: -5px;
  top: 0;
  bottom: 0;
  width: 5px;
}